.thumbnail {
  position: relative;
  flex: 0 0 $thumbnail-size;
  margin: 1px;

  .options {
    @include _transition(all);
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include _display-flex(flex, center, center);
    @include _list-child-margin(5px, 'a', 'right');

    background: rgba($color-primary, .8);

    a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include _display-flex(flex, center, center);

      background: rgba($color-black, .2);
      color: $color-white;
      text-decoration: none;

      &.details:before {
        @include _getIcon($icon-enlarge-content);
      }

      &.remove:before {
        @include _getIcon($icon-bin-content);
      }

      @include _link-active() {
        background: rgba($color-black, .4);
      }
    }
  }

  @include _link-active() {
    .options {
      opacity: 1;
    }
  }
}