.topbar {
  position: relative;
  width: 100%;
  height: $topbar-height;

  background: $topbar-background;
  border-bottom: 8px solid darken($topbar-background, 2%);

  &.-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: map_get($z-index, 'navbar');
  }

  .container {
    @include _containerHelper(null, $grid-gap);
    height: 100%;
    @include _display-flex(flex, center, flex-start)
  }
}

.topbar--spacer {
  position: relative;
  width: 100%;
  height: $topbar-height;
}