<div class="snapshot-thumbnails -in -fixed">

  <div class="content" data-thumbnails>
    {% for image in photos %}
    <div class="thumbnail" data-id="{{ image.id }}" data-img="{{ image.fileName }}">
      <div class="options">
        <a href="{{ '/gallery.html' | baseUrl }}?img={{ image.id }}" class="details" target="_blank"></a>
      </div>
      <img src="{{ image | imageSrc }}" alt="{{ image.fileName }}" />
    </div>
    {% endfor %}
  </div>

</div>