.lightbox {
  position: relative;
  width: 100%;
  height: 100vh;
  @include _curtainToggleAnimation();
  @include _display-flex(flex, center, center);

  &.-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: map-get($z-index, 'overlay');
  }

  &:before {
    @include _transition(all);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: map-get($z-index, 'back');

    background: $overlay-background;
  }

  .container {
    position: relative;
    @include _containerHelper();

    &.-tall {
      @include _containerHelper('tall');
    }
  }

  a.close {
    position: absolute;
    right: 0;
    top: -30px;
    text-decoration: none;

    &:before {
      @include _getIcon($icon-cross-content);
      color: $color-white;
      @include _font-size($font-size-4);
    }
  }

  .content {
    position: relative;
    background: $color-white;
    box-shadow: $box-shadow;

    min-width: 640px;
    min-height: 480px;
    z-index: map-get($z-index, 'body');

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: map-get($z-index, 'back');

      @include _getIcon($icon-image-content);
      @include _display-flex(flex, center, center);
      @include _font-size($font-size-1);
    }
  }
}