.details {
  position: sticky;
  top: $topbar-height;
  width: 100%;
  height: 100%;
  padding: 0 $grid-gap;

  .image {
    padding: 0;
    margin: 0 0 1px 0;
  }

  .button-group {
    margin: 0 0 $grid-gap*2 0;
    @include _display-flex(flex, center, center);
    @include _list-child-margin(1px, 'button', 'right');

    > button {
      flex: 1
    }
  }

  .entry {
    @include _list-child-margin($grid-gap, 'div', 'bottom');
  }
}