.login {
  padding: $grid-gap*2;

  background: $color-black;
  box-shadow: 0 0 $grid-gap rgba($color-black, .3);
  @include _font-paragraph('regular', $color-white);

  h1 {
    @include _font-headline('regular', $color-white);
  }


  .button-wrapper {
    position: relative;
    width: 100%;
    margin: $grid-gap*2 0 0 0;
    @include _display-flex(flex, center, center);
  }
}