/* ================================ *\
    BODY / HTML
\* ================================ */
body {
  position: relative;
  @include _font-paragraph();

  background: $color-background;

  &.-no-scroll {
    height: 100vh;
    overflow: hidden;
  }
}

p {
  @include _reset-alignment();
  @include _font-paragraph();
  margin-bottom: 10px;
}

hr {
  margin: $grid-gap 0;
  width: 100%;
  height: 1px;
  border: 0;
  background: $color-white;
  border-radius: $border-radius;
}