/* ================================ *\
              COLORS
\* ================================ */
$color-primary:     #C54741 !default;
$color-secondary:   #a1c440 !default;

$color-black:       #000000 !default;
$color-white:       #ffffff !default;

$color-grey-light:  #f1f1f3 !default;
$color-grey:        #ededed !default;
$color-grey-dark:   #3e3d40 !default;
$color-dark:        #151515 !default;

$color-success:     #a1c440 !default;
$color-error:       #C54741 !default;
$color-hint:        #225D92 !default;

$color-cta:         $color-secondary !default;


// Main
$color-background:  $color-black !default;
$color-paragraph:   #2C343B !default;

// Headline
$color-headline:    $color-paragraph !default;
$color-subheadline: $color-primary !default;

// Social
$color-facebook:     #3c5998;
$color-twitter:      #55acee;
$color-gplus:        #dc4a38;
$color-youtube:      #e62117;
$color-rss:          #ff6c00;
$color-instagram:    #3f729b;
$color-blog:         $color-black;