$border-radius: 5px;
$box-shadow: 0 0 30px rgba($color-black, .5);
$overlay-background: rgba(#151515, .95);

$controls-primary-color: $color-paragraph;
$controls-primary-bg: $color-cta;
$controls-default-color: $color-white;
$controls-default-bg: $color-secondary;

$crosshair-background: rgba($color-white, .5);

$countdown-font-size: calc(#{$font-size-1} + 40vw);
$countdown-text-shadow: 0 0 30px rgba(0,0,0,.15);

$thumbnail-size: 160px;

$input-height: 50px;
$input-background: $color-dark;

$topbar-height: 80px;
$topbar-background: lighten($color-background, 16%);