.gallery-section {
  position: relative;
  width: 100%;
  height: auto;
  margin: $grid-gap*2 0;

  @include _display-flex(flex, flex-start, flex-start, row);

  header {
    width: 200px;
    padding: 0 $grid-gap;
    text-align: right;

    h2 {
      margin: 1px 0 0 0;
      padding: 5px 0 0 0;
      @include _font-headline('regular', $color-white);
      @include _font-size($font-size-5);

      border-top: 1px solid $color-white;
    }
  }

  .content {
    flex: 1;
    padding: 0 $grid-gap;

    @include _display-flex(flex, flex-start, flex-start, row, wrap);

    > div {
      @include _move-list-items-in(25);
    }
  }
}
