.gallery-preview {
  position: absolute;
  left: 0;
  @include _display-flex(flex, center, flex-start, row);
  @include _transition(all);

  > div {
    @include _move-list-items-in(5);

    position: relative;
    width: 70vw;
    margin: 0 0;
    padding: 0 1vw;
    text-align: center;

    img {
      max-width: 100%;
    }
  }
}