<div class="lightbox -fixed -in">
  <div class="container -tall">

    <div class="login">
      <h1>Anmeldung</h1>

      <strong>Galerie Auswahl</strong>
      <div class="select-editable">
        <select>
          <option value=""></option>
          {% for gallery in galleries %}
          <option data-id="{{ gallery.id }}" value="{{ gallery.label }}">{{ gallery.label }}</option>
          {% endfor %}
        </select>
        <input type="text" name="format" value="" />
      </div>

      <div class="button-wrapper">
        <button class="btn-controls" data-state="off">Stream einschalten</button>
      </div>
    </div>

  </div>
</div>