@mixin _imageFallbackHelper($width, $height) {
  position: relative;
  display: block;

  flex: 0 0 $width;
  width: $width;
  padding-top: $height;

  &:before {
    position: absolute;
    left: 0;
    top: 0;

    @include _getIcon($icon-image-content);
    width: 100%;
    height: 100%;
    z-index: map_get($z-index, 'body');
    @include _display-flex(inline-flex, center, center);

    color: $color-paragraph;

    border: 0;
    background: $color-grey-light;
  }

  @content;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    display: block;

    background: $color-black;

    &[src=""] {
      display: none;
    }
  }
}