////
/// @group layout
////


/// set width of container
/// @param {string} $wide ['null|normal|medium|tall'] container size
/// @param {string} $gap [$grid-gap*2] gap width
@mixin _containerHelper($wide: null, $gap: $grid-gap*2) {
  position: relative;
  width: initial;
  padding-left: $gap;
  padding-right: $gap;

  @if ($wide == 'normal') {
    @include _respond-to(desktops) {
      margin-left: auto;
      margin-right: auto;
      width: $breakpoint-desktop-min;
    }
  }

  @if ($wide == 'medium') {
    @include _respond-to(desktops) {
      margin-left: auto;
      margin-right: auto;
      width: $breakpoint-desktop-min - 200px;
    }
  }

  @if ($wide == 'tall') {
    @include _respond-to(desktops) {
      margin-left: auto;
      margin-right: auto;
      width: $breakpoint-tablet-min;
    }
  }
}

/// define a nonequal grid layout. like content & aside
/// @param {number} $left [2] flex size of left container
/// @param {number} $right [1] flex size of right container
@mixin _asyncHelper($left: 2, $right: 1) {
  @include _respond-to(desktops) {
    @include _display-flex(flex, flex-start, flex-start, row);

    > *:first-child {
      flex: $left;
    }

    > *:last-child {
      flex: $right;
    }
  }
}

@mixin _asyncSwipeHelper($left: 2, $right: 1) {
  @include _transition(all);
  @include _respond-to(phones, tablets) {
    position: relative;
    width: 200%;
    @include _display-flex(flex, flex-start, flex-start, row);
    &.-in {
      margin-left: -100%;
    }

    > * {
      flex: 1;
      padding: 0 5px;
    }
  }

  @include _asyncHelper($left, $right);
}