input {
  @include _reset-glow();
  width: 100%;
  height: $input-height;
  padding: 2px $grid-gap 0 $grid-gap;

  background: $input-background;
  border: 0;
  border-bottom: 2px solid transparent;
  @include _font-paragraph('regular', $color-white);

  &:read-only {
    color: darken($color-white, 70%);
  }

  @include _link-active() {
    border-color: $color-primary;
  }
}