select {
  @include _reset-glow();
  width: 100%;
  min-width: 200px;
  height: $input-height;
  padding: 0 $grid-gap;

  background: $input-background;
  border: 0;
  border-radius: 0;
  @include _font-paragraph('regular', $color-white);
}