.select-editable {
  position: relative;
  width: 100%;
  height: $input-height;

  background-color: $input-background;

  select {
    @include _reset-glow();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;

    border: 0;
    background: transparent;
    @include _font-paragraph('regular', $color-white);
  }

  input {
    @include _reset-glow();
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    padding: 0 0 0 $grid-gap;

    border: 0;
    background: $color-dark;
    @include _font-paragraph('regular', $color-white);
  }
}