.snapshot-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: map-get($z-index, 'content');
  @include _display-flex(flex, center, center, row);

  @include _curtainToggleAnimation(-200px, .2s);
  background: $color-background;
  cursor: none;

  img {
    min-height: 100%;
  }
}