.snapshot-thumbnails {
  position: relative;
  @include _curtainToggleAnimation(100px, .24s);

  &.-fixed {
    position: fixed;
    bottom: $grid-gap*2;
    left: 0;
    width: 100%;
    z-index: map-get($z-index, 'navbar');
  }

  .content {
    position: relative;
    height: 100%;
    padding: 0 $grid-gap*2;
    @include _display-flex(flex, initial, space-evenly, row);

    @include _list-child-margin($grid-gap*2, 'a', 'left');

    .thumbnail {
      @include _move-list-items-in(8);
      flex: initial;
      max-width: $thumbnail-size;
      box-shadow: $box-shadow;
    }
  }
}