<section class="gallery-section">
  <header>
    <h2>{{ info.label }}</h2>
    <p>ID: {{ info.id }}</p>
    <p>length: <strong>{{ photos |length }}</strong></p>

    <ul class="options">
      <li><a href="{{ '/download.php' | apiUrl }}?gallery={{ info.id }}" data-icon="download" title="Download"
          target="_blank"></a></li>
    </ul>
  </header>
  <div class="content">

    {% for image in photos %}
    <div class="thumbnail" data-id="{{ image.id }}" data-index="{{ loop.index-1 }}">
      <div class="options">
        <a href="#" class="details" data-click="showDetails"></a>
      </div>
      <img src="{{ image | imageSrc }}" alt="{{ image.fileName }}" />
    </div>
    {% endfor %}

  </div>
</section>