/// Zoom In
/// @group animation keyframe
@mixin _anim-zoomIn() {
    @include _keyframes('_zoom-in') {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
}

@mixin _anim-zoomOut() {
    @include _keyframes('_zoom-out') {
        0% {
            transform: scale(.8);
            opacity: 0;
        }
        33% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(0);
            opacity: 0;
        }
    }
}