<main class="dashboard">
  <vt-component name="Login"></vt-component>
  <vt-component name="Snapshot/Thumbnails"></vt-component>

  <vt-component name="CameraStream"></vt-component>
  <vt-component name="Snapshot/Preview"></vt-component>
  <vt-component name="Gallery/Preview"></vt-component>
</main>