.btn-deny {
  position: relative;
  @include _reset-glow();
  width: auto;
  height: $input-height;
  padding: 0 $grid-gap;

  border: 0;
  border-radius: 0;
  background: $color-error;
  cursor: pointer;
  @include _font-paragraph('regular', $color-white);

  @include _link-active() {
    background: darken($color-error, 6%);
  }
}