.btn-primary {
  position: relative;
  @include _reset-glow();
  width: auto;
  height: $input-height;
  padding: 0 $grid-gap;

  border: 0;
  border-radius: 0;
  background: $controls-primary-bg;
  cursor: pointer;
  @include _font-paragraph('regular', $controls-primary-color);

  @include _link-active() {
    background: darken($controls-primary-bg, 6%);
  }
}