.btn-controls {
  position: relative;
  @include _reset-glow();
  width: auto;
  height: $input-height;
  padding: 0 30px 0 70px;

  border: 0;
  cursor: pointer;
  background: rgba($color-white, .1);
  border-radius: 50px;

  @include _font-paragraph('regular', $color-white);

  &:before {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 46px;
    height: 46px;
    padding-left: 3px;

    border-radius: 50%;
    background: $color-white;
    @include _getIcon($icon-play3-content);
    color: $color-primary;
    @include _font-size($font-size-4);

    @include _display-flex(inline-flex, center, center);
  }

  &[data-state="on"]:before {
    padding-left: 0;
    content: $icon-stop2-content;
  }

  @include _link-active() {
    background: rgba($color-white, .2);
  }
}