<div class="image">
  <a href="{{ image | imageSrc }}" target="_blank"><img src="{{ image | imageSrc }}" alt="{{ image.fileName }}" /></a>
</div>

<div class="button-group">
  <button class="btn-deny" data-click="remove">Löschen</button>
  <button class="btn-primary" data-click="save">Speichern</button>
</div>

<div class="entry">
  <div class="input-group">
    <label for="id">ID</label> <input type="text" name="id" id="id" value="{{ image.id }}" readonly />
  </div>

  <div data-grid="2">
    <div class="input-group">
      <label for="filename">Filename</label>
      <input type="text" name="filename" id="filename" value="{{ image.fileName }}" readonly />
    </div>

    <div class="input-group">
      <label for="size">Size</label> <input type="text" name="size" id="size" value="{{ image.size | formatBytes }}"
        readonly />
    </div>
  </div>

  <div class="input-group">
    <label for="filter">Filter</label>
    <input type="text" name="filter" id="filter" value="{{ image.filter }}" readonly />
  </div>

  <div class="input-group">
    <label for="gallery">Gallery ID</label>
    <input type="text" name="gallery" id="gallery" value="{{ image.gallery }}" readonly />
  </div>

</div>