.camera-stream {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: map-get($z-index, 'default');
  @include _display-flex(flex, center, center, row);

  video {
    display: block;
    width: 100%;
    height: 100%;

    // flip camera stream
    transform: scaleX(-1);

    @include _toggleVisibility();
  }
}