#countdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: map_get($z-index, 'default');

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include _display-flex(flex, center, center);
    @include _font-paragraph('bold', $color-white);
    @include _font-size($countdown-font-size);

    text-shadow: $countdown-text-shadow;

    animation: _zoom-out .9s 1 ease-in-out;
    animation-fill-mode: both;
  }
}