$filters: (
    1: grayscale(1) contrast(1.1) brightness(1.6), // black & white
    2: saturate(3) contrast(1.2) brightness(1.4), // comic style
    3: sepia(.62) contrast(1.2) brightness(1.4) blur(.5px), // old school
    4: hue-rotate(180deg) contrast(1.1) brightness(1.4) saturate(1.8), // hulk
    5: invert(1) contrast(1.1) // zombie
);

video {
  @each $key, $filter in $filters {
    &[data-filter="#{$key}"] {
      filter: $filter;
    }
  }
}