.stream-controls {
  position: relative;
  width: 100%;
  height: 100%;
  @include _display-flex(flex, center, center, row);
  @include _curtainToggleAnimation();

  padding-top: $grid-gap;

  &.-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: map_get($z-index, 'overlay');
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-black;
  }
}