.options {
  @include _reset-lists();
  @include _display-flex(flex, center, flex-end);

  li {
    a {
      @include _display-flex(flex, center, center);
      width: $grid-gap*2;
      height: $grid-gap*2;
      border-radius: 50%;

      text-decoration: none;
      background: rgba($color-white, .2);
      color: $color-white;
      @include _font-size($font-size-7);

      @include _link-active() {
        background: $color-primary;
        color: $color-paragraph;
      }

      &:before {
        position: relative;
        top: -1px;
      }
    }
  }
}