<div class="lightbox -fixed" data-lightbox tabindex="1">
  <div class="gallery-preview" data-gallery>
    {% for photo in photos %}
    <div data-image>
      <img src="{{ photo | imageSrc }}" alt="{{ photo.fileName }}" data-index="{{ index.loop }}" data-id="{{ photo.id }}">
    </div>
    {% endfor %}
  </div>
</div>