<div class="topbar -fixed">
  <div class="container">

    <div>
      <select name="galleries" id="galleries">
        <option value="" disabled selected></option>
        {% for gallery in galleries %}
        <option data-id="{{ gallery.id }}" value="{{ gallery.label }}">{{ gallery.label }}</option>
        {% endfor %}
      </select>
    </div>

  </div>
</div>

<div class="topbar--spacer"></div>