<div class="camera-stream -four-square">
  <div class="clickarea" tabindex="0" data-keyup="camera-stream"></div>

  <div id="countdown"></div>
  <video id="camera-stream"></video>
  <canvas></canvas>
</div>
